<div id="<%= dom_id set_menu %>">
  <p>
    <strong>Name:</strong>
    <%= set_menu.name %>
  </p>

  <p>
    <strong>Main dish:</strong>
    <%= set_menu.main_dish_id %>
  </p>

  <p>
    <strong>Dessert:</strong>
    <%= set_menu.dessert_id %>
  </p>

  <p>
    <strong>Beverage:</strong>
    <%= set_menu.beverage_id %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= set_menu.price %>
  </p>

</div>
