<div id="<%= dom_id order %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Quantity:</strong>
    <%= order.quantity %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Total price:</strong>
    <%= order.total_price %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Note:</strong>
    <%= order.note %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Menu:</strong>
    <%= order.food_item_id %>
  </p>

</div>
