<p style="color: green"><%= notice %></p>

<div class="min-h-screen flex flex-col -y-space6 w-full bg-gray-50 ">
 
  <%= render 'food_items/header' %>


  <div class="container mx-auto px-4">
    <%= content_for :title, "Food items" %>
    <%= link_to "New food item", new_food_item_path, class: "text-blue-600 hover:underline" %>
  </div>

  <%= render 'food_items/food_button' %>


  <div class="container mx-auto px-4 flex flex-col space-y-4">
    <%= render 'food_items/all_menu/card' %>
  </div>
  <%= render 'food_item' %>
</div>
